<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "", :info_type => "", :import => "active",
                                                         :scope => "", :relationship_type => ""} %>
<% end %>
<h2>Done</h2>