<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "", :info_type => "", :import => "",
                                                         :scope => "", :relationship_type => "", :invitation => "active"} %>
<% end %>
<h2><%= t('invitation.list.done') %>></h2>