<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "active", :info_type => "", :import => "",
                                                         :scope => "", :relationship_type => "", :invitation => ""} %>
<% end %>

<% @page_title = t('actor_type.create.title') %>


<p>You have created an actor_type.</p>
<p><%= @actor_type %></p>