<% @page_title = 'Your ActorTypes' %>


<% for actor_type in @actor_types %>
    <p>
      <%= link_to(actor_type.name, show_actor_type_path(actor_type)) %>
    </p>
<% end %>

<%= link_to('neuer ActorType', create_actor_types_path) %>