<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>

  <body>
    <h1>Willkommen! Welcome! bienvenue! benvenuto!</h1>
    <p>
       Text

    </p>

    <p>
      <a href="">Link</a>

    </p>
  </body>
</html>