<% @page_title = t('relationship_type.list.title') %>


<div class="row">
  <div class="row pull-right">
    <%= link_to(t('relationship_type.list.new_relationship_type'), create_relationship_type_path, :class => 'btn btn-primary') %>
  </div>
</div>

<div class="tabbable tabs-left">

</div>
