<% @page_title = t('relationship_type.show.title', :relationship_type => @relationship_type.name) %>


<table class="table table-hover">
  <tr>
    <th><%= t('relationship_type.show.field_table') %></th>
    <th><%= t('relationship_type.show.value_table') %></th>
  </tr>
  <tr>
    <td><%= t('relationship_type.show.name') %></td>
    <td><%= @relationship_type.name %></td>
  </tr>
</table>

<!-- todo allow to edit relationship_type -->
