<% @page_title = t('logins.show.title') %>

<table class="table table-bordered">
  <tr>
    <td><%= t('logins.show.type') + ':'%></td>
    <td><%= current_login.account_type %></td>
  </tr>
  <tr>
    <td><%= t('logins.show.email') + ':'%></td>
    <td><%= current_login.email %></td>
  </tr>
</table>
