<h3>Your Profile page</h3>
<p>Account email: <%= current_login.email %></p>
<p>Account type: <%= current_login.account_type %></p>
<% if current_login.account_type == 'User' %>
    <p>current_login.account.test</p>
<% end %>
<%= link_to('sign out', destroy_login_session_path, :method => :delete) %>