<% @page_title = t('csv_import.file.new.title') %>

<%= form_tag({:action => :upload_csv_file}, :multipart => true) do %>
    <%= file_field_tag 'csv' %>

    <div class="form-actions">
        <%= submit_tag(('upload'), :class => 'btn btn-primary') %>
    </div>
<% end %>