<div id="data-options">
  <%= render :partial => 'information_type/data/option', :locals => {:field_number => 0, :remove_button => false} %>
  <div id="intial-option"></div>
  <%= link_to_function(t('information_type.new.data.new_option'), "SGfM.form.add_form_before('#{information_type_option_form_path}', 'intial-option')", :type => :button, :class => 'btn') %>
</div>