<p><%= t('devise.mailer.reset_password_instructions.intro') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.linktext'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.footer_one') %></p>
<p><%= t('devise.mailer.reset_password_instructions.footer_two') %></p>
