<% @page_title = t('home.index.title') %>


<p class="lead">Willkommen bei Qualitätsmedizin Schweiz</p>
<p>
  Mittelpunkt der gesundheitspolitischen Diskussion sind die seit anfangs 2012 umgesetzten Reformen zur
  Spitalfinanzierung. Das Schweizer Gesundheitswesen ist in der aktuellen Situation gravierenden Änderungen ausgesetzt
  und die Beteiligten müssen sich den neuen Herausforderungen stellen. Diese betreffen insbesondere den wachsenden
  Kosten- und Wettbewerbsdruck sowie die zunehmende Bereitschaft und Fähigkeit von Patienten, zwischen verschiedenen
  Angeboten zu wählen. So kann in Zukunft der gewünschte Wettbewerb auch und insbesondere über die Qualität der
  erbrachten Leistungen ausgetragen werden.
</p>
<p>
  Qualitätsmedizin Schweiz ist eine jährlich stattfindende Veranstaltung und bietet eine Plattform zur aktiven
  Mitsprache und Mitgestaltung gesundheitspolitischer Themen. Die Veranstaltungen vermitteln einen Überblick über
  jeweils aktuelle Themen, die von Gesundheitsfachleuten kritisch beleuchtet werden.
</p>