<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "", :info_type => "active", :import => "",
                                                         :scope => "", :relationship_type => ""} %>
<% end %>

<% @page_title = t('information_type.create.title') %>


<p>You have created an information_type.</p>
<p><%= @information_type %></p>