<%= content_tag(:div, :id => "alert-#{name}", :class => 'alert alert-block alert-error fade in') do %>
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= content_tag(:h4, t('actor.new.alert') ,:class => 'alert-heading') %>
<% end %>