<%= fields_for(:actor) do |f| %>
  <% information_types.each do |info| %>
    <div class="control-group">
      <%= f.label(info.key, info.name, class: 'control-label') %>
      <div class="controls">
        <%= f.text_field(info.key, placeholder: info.name, required: true) %>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field(:actor_type_key, value: actor_type_key) %>

<% end %>

