<div class="control-group">
  <%= f.label(:'[]', t('actor.new.relationship_reference'), class: 'control-label') %>
  <div class="controls">
    <%= f.hidden_field(:'[]', :id => "sel#{index}") %>
  </div>
</div>