<% @page_title = t('actor.show.title', :actor => @actor.to_s) %>


<div class="well">
  <div class="lead">
    <small><%= @actor.actor_type.name %></small>
  </div>

  <table class="table table-condensed">
    <% @informations.each do |info| %>
        <tr>
          <td class="span3"><strong><%= info.information_type_decorator.name %></strong></td>
          <td class="span3"><%= info.value_to_s %></td>
          <td class="span4"></td>
        </tr>
    <% end %>
  </table>

  <div class="lead">
    <small><%= t('actor.show.relationships') %></small>
  </div>

  <table class="table table-hover">

  </table>
</div>

