<% @page_title = t('actor.list.title') %>


<% for actor in @actors %>
  <p>
    <%= link_to("#{actor.find_information_by_key(:name)} #{actor.actor_type}", show_actor_path(actor)) %>
  </p>
<% end %>

<%= link_to(t('actor.list.new_actor'), create_actor_path) %>