<% @page_title = 'Your Actors' %>


<% for actor in @actors %>
  <p>
    <%= link_to("#{actor.find_information_by_key(:name)} (#{actor.actor_type})", show_actor_path(actor)) %>
  </p>
<% end %>

<%= link_to('neuer Akteur', create_actor_path) %>