<h3>New Actor</h3>

actor type
<%= form_for(:actor) do |f| %>

  <%= f.collection_select(:actor_type, list_actor_types, :key, :name) %>

  <%= f.submit(:weiter, class: 'btn btn-primary') %>

<% end %>