<% @page_title = t('actor.new.title') %>

<div class="row-fluid acc-wizard">
  <div class="span3" style="padding-left: 2em;">
    <ol class="acc-wizard-sidebar">
      <li class="acc-wizard-todo"><a href="#actor-type"><%= t('actor.new.type_title')%></a></li>
      <li class="acc-wizard-todo"><a href="#information"><%= t 'actor.new.information_title' %></a></li>
    </ol>
  </div>
  <div class="span9">
    <div class="accordion" id="new-actor">
      <div class="accordion-group">
        <div class="accordion-heading ">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#new-actor" href="#actor-type">
            <%= t 'actor.new.type_title' %>
          </a>
        </div>
        <div id="actor-type" class="accordion-body collapse in">
          <div class="accordion-inner">
            <form id="form-actor-type">
            </form>
          </div> <!--/.accordion-inner -->
        </div> <!-- /#prerequisites -->
      </div> <!-- /.accordion-group -->
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#new-actor" href="#information">
            <%=t 'actor.new.information_title' %>
          </a>
        </div>
        <div id="information" class="accordion-body collapse in">
          <div class="accordion-inner">
            <form id="form-information">
            </form>
          </div> <!--/.accordion-inner -->
        </div> <!-- /#addwizard -->
      </div> <!-- /.accordion-group -->
    </div>
  </div>
</div>

<script>

  function onNext(parent, panel) {
    hash = "#" + panel.id;
    $(".acc-wizard-sidebar",$(parent))
            .children("li")
            .children("a[href='" + hash + "']")
            .parent("li")
            .removeClass("acc-wizard-todo")
            .addClass("acc-wizard-completed");
  }

  $(window).load(function() {
    $(".acc-wizard").accwizard({onNext: onNext});
  });
</script>